
* {
  box-sizing: border-box;
  margin:0;
}

html body {
max-width: 1200px;
margin:0 auto;
}
#main-header {
  background-color: maroon;
  color: whitesmoke;
box-shadow: 0px 0px 3px lightgrey;
}
.container {
  margin:0 auto;
  padding:20px;
}

header {

  text-align:center;
  padding:20px;

}
ul {
  list-style: none;
  font-size: 18px;
  padding-left:0;
  background-color: whitesmoke;
}
li {
  padding:10px;
  border: 1px solid silver;
  text-align:center;
}
p {
max-width: 800px;
margin: auto;
padding: 20px;
}
h2, h3, h4, h5, h6 {
  text-align:center;
  padding:20px;
}
nav {
box-shadow: 0px 0px 1px silver;
}
.content {
margin: 20px;
box-shadow: 0px 0px 3px silver

}
